
#calculator {
  background-color: #82c078;
  width: 25%;
  text-align: center;
}

#row1 {
  padding-top: 10px;
}

#row5 {
  padding-bottom: 10px;
}

#addMain, #subtractMain, #multiplyMain, #divideMain {
  width: 75px;

}
button {
height: 50px;
width: 60px;

}

.answerCalc  {
  width: 207px;
  height: 45px;
  background-color: #F1F1F1;

}
